<mat-toolbar color="primary" class="flex justify-content-between">
  Ng Mat
  <a routerLink="blog" href="" mat-stroked-button>Blog</a>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon matBadge="15" matBadgeColor="warn" style="margin-right:10px;" aria-hidden="false" aria-label="Example home icon" svgIcon="thumbs-up" style="color:red"></mat-icon>
    </button>
  </div>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Your friend got new car</button>
  <button mat-menu-item>You are tagged in recent photo</button>
</mat-menu>

   <a routerLink="/auth-login" href="" mat-stroked-button>Login</a>

  
</mat-toolbar>

<router-outlet></router-outlet>