/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.m-auto{
    margin: auto;
}